{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.email }},
				{% for role in app.user.roles %}
					{{role}},
				{% endfor %}
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>

			<div>
				<h2>Liste des commandes passées par
					{{app.user.email}}
					:
				</h2>
				{% for commande in app.user.commandes %}
					<h2>{{commande.date | date('d-m-Y')}},
						{{ commande.price }}</h2>
					{% for card in commande.cards %}
						<h3>
							Modele :
							{{ card.car.model }}</h3>
						<h3>Marque :
							{{ card.car.marque }}</h3>
						<h4>Quanité :
							{{ card.quantity }}</h4>
					{% endfor %}
					<hr>
				{% endfor %}
			</div>
		{% endif %}

		{% if not app.user %}

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
																																																											        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																											        See https://symfony.com/doc/current/security/remember_me.html
																																																											
																																																											        <div class="checkbox mb-3">
																																																											            <label>
																																																											                <input type="checkbox" name="_remember_me"> Remember me
																																																											            </label>
																																																											        </div>
																																																											    #}

			<button class="btn btn-lg btn-primary" type="submit">
				Sign in
			</button>

		{% endif %}
	</form>
{% endblock %}
