{% extends "base.html.twig" %}

{% block body %}

	{#dump(items)#}

	{% if items == [] %}

		<h3>Votre panier est vide. Remplissez le vite !!!!!!</h3>

	{% else %}

		{% for item in items %}

			<h2>{{ item.car.model }}</h2>
			<h2>{{ item.car.marque }}</h2>
			<h2>{{ item.car.price }}</h2>
			<h3>{{ item.quantity }}</h3>
			<h3>
				<a href="{{ path("delete_cart", {'id' : item.car.id}) }}">Supprimer</a>
			</h3>
			<hr>
		{% endfor %}

		<a href="{{ path('create_command') }}">Confirmer la commande</a>

	{% endif %}

{% endblock %}
